$primary-color: '#f90';

$font-family-sans-serif: Amazon Ember, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

.App {
  width: 100vw;
  height: 100vh;
}

.list-group-flush .list-group-item:first-child {
  border-top: 0;
}

.list-group-flush h3 {
  margin-bottom: 0;
}

.bg-ember {
  background-color: #ffac31 !important;
}

.bg-blue {
  background-color: #007eb9 !important;
}